[Unit]
Description=Appmainprog
After=launcher_6627.service btservice.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/appmainprog.sh >ttyS0
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
